---
import Header from '../components/Header.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<Header/>
	
	<h1 class="font-semibold py-3 text-3xl">OrbitArchive</h1>
	<div class="px-6 py-3">
		<h1 class="py-1 relative">
			Welcome to OrbitArchive. We reserve your favourite old-school projects and make their old services come alive again.<br>
			How we want to plan this out, is all the original repositories will be on our private Forgejo instance with its original commits and releases<br>
		</h1>
	</div>
</Layout>
